.App {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}



.button{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.InsideApp{
  border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
}
